<!--
.boost-pfs-filter-collection-header-wrapper .boost-pfs-filter-collection-description {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    margin-top: -41px !important;
    height: 255px !important;
    color: #1d3541;
}
.boost-pfs-filter-collection-header{
    position: relative !important;
    top: 20px !important;
    left: -475px !important;
    color: #E8AF92 !important;
    text-transform: uppercase !important;
}
.boost-pfs-filter-collection-description rte{
height: 252px !important;
}
.dugme{
padding: 5px 30px 5px 30px;
border: solid 1px white;
background-color: #FFFFFF;
color: #1d3541;
}
.tablo{
width: 60%; position: relative; top: -75px;
}
@media (max-width: 992px){
.boost-pfs-filter-collection-header {
    position: relative !important;
    top: 20px !important;
    left: -83px !important;
    color: #E8AF92 !important;
    text-transform: uppercase !important;
}
.boost-pfs-filter-collection-header-wrapper .boost-pfs-filter-collection-description {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 13px !important;
    height: 150px !important;
}
.dugme{
padding: 5px 2px 5px 2px;
    border: solid 1px white;
    background-color: #FFFFFF;
    display: flex;
    text-align: center;
    color: #1d3541;
}
.tablo{
width: 100%; position: relative; top: -45px;
}
}
@media (max-width: 400px){
.boost-pfs-filter-collection-header {
    position: relative !important;
    top: 20px !important;
    left: -100px !important;
    color: #E8AF92 !important;
    text-transform: uppercase !important;
}
.tablo{
width: 100%; position: relative; top: -63px;
}
}
</style>
<table style="margin-bottom: 0px;" width="100%" data-mce-fragment="1">
<tbody data-mce-fragment="1">
<tr style="background-color: #f4f0ef;" data-mce-fragment="1">
<td style="width: 62.7858%; background-color: #f4f0ef; text-align: left;" data-mce-fragment="1">
<h6><b data-mce-fragment="1">100% Long Staple Cotton Bath Collection</b></h6>
<p>&nbsp;</p>
</td>
<td style="width: 33.2142%; background-color: #f4f0ef;" data-mce-fragment="1"><img style="float: right;" src="https://cdn.shopify.com/s/files/1/0523/8865/9380/files/collection_header_bath_2.jpg?v=1624457840" alt="" data-mce-style="float: right;" data-mce-src="https://cdn.shopify.com/s/files/1/0523/8865/9380/files/collection_header_bath_2.jpg?v=1624457840"></td>
</tr>
</tbody>
</table>
<table class="tablo" width="100%">
<tbody>
<tr>
<td style="background-color: #f4f0ef;"><a href="https://www.ocoza.com/collections/towels" class="dugme">&nbsp;Towels</a></td>
<td style="background-color: #f4f0ef;"><a href="https://www.ocoza.com/collections/bathrobes" class="dugme">Bathrobes</a></td>
<td style="text-align: center; background-color: #f4f0ef;"><a href="https://www.ocoza.com/collections/bath-sets" class="dugme">Bath Sets</a></td>
</tr>
</tbody>
</table>
-->